body {
background-color: rgb(149,194,215);
  font-size: 10px;
}
a {text-decoration: none;}

.thumbnail-list {
  list-style: none;
}

.thumbnail-title {
display: block;
margin: 0;
padding: 4px 10px;
  background-color: rgb(96,125,1390);
  color: rgb(202,238,255);
  font-size: 18px;
}

.thumbnail-image {
  width: 100%;
  display: block;

}

.thumbnail-item {
  display: block;
  border: 1px solid red;
border: 1px solid rgba(100%, 100%, 100%, 0.8);
}
